*{
    box-sizing:border-box !important;
}
span{
    display:inline-block;
}
:root{
    --white:#FFFFFF;
    --gray1:#3A3A3A;
    --gray2:#616161;
    --gray3:#898989;
    --gray4: #B0B0B0;
    --gray5:#D8D8D8;
    --lightBG: #F4F5F7;
    --primary: #E89F71;
    --Green-Accents:#2EC1AC;
    --Red-Accents:#E97171;
}






/*header*/
header{
    padding:48px 0;
    background: linear-gradient(90deg, #F9F1E7 68%, #FCF8F3 32%);
}
header .logo:hover{
    color: #000000;
}
header .left-side{
    gap:40px;
}
header .left-side > *{
    margin:auto 0;
}
header div > ul > li{
    margin-right:40px;
}
header form{
    width:473px;
    position: relative;
}
header form input{
    padding:0 10px 0 44px !important;
    max-width:473px !important;
    width:100% !important;
    height: 45px;
    border:none !important;
    outline:none;
}
header form button{
    border:none;
    display:flex;
    align-items:center;
    outline:none;
    cursor:pointer;
    background:none;
    position: absolute;
    margin-left:7px;
    top:0;
    bottom:0;
}
header nav .right-side{
    gap:40px;
}








/*intro*/
.intro{
    margin-bottom:200px;
}
.intro > .background{
    background: linear-gradient(90deg, #F9F1E7 68%, #FCF8F3 32%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.intro .slider{
    max-width:1440px;
    margin:90px auto 0 auto;
    left:0;
    right:0;
    z-index:1;
    overflow: hidden;
}
.intro .move-slider{
    margin-left:435px;
    gap:20px;
    position: relative;
    transition:500ms;
}
.intro .container > span{
    position: relative;
    z-index: 100;
}
.intro .container .shop{
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    max-width:494px;
    padding:60px;
    margin-right:32px;
}
.intro .container .shop a{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 78px;
    background: var(--primary);
    transition:300ms;
}
.intro .container .shop a:hover{
    box-shadow: 5px 5px 15px var(--primary)
}
.intro .info-box{
    position: absolute;
    z-index: 100;
    right:0;
    bottom:0;
    padding:24px 30px 24px 24px;
    transition:300ms;
    margin: 0 50px -90px 0;
    width: 294px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
}
.intro .info-box div > *{
    margin:auto 0;
}
.intro .nav-slider{
    margin-top:32px;
    gap:12px;
}
.intro .nav-slider span{
    transition: 100ms;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:100px;
    border:1px solid #F9F1E7;
    width: 27px;
    height: 27px;
}
.intro .nav-slider div{
    transition:100ms;
    width: 11px;
    height: 11px;
    background: var(--gray5);
    border-radius: 100px;
}
.intro .button-slider{
    margin-top:20px;
    width: 104px;
}
.intro button{
    cursor: pointer;
    width: 48px;
    height: 48px;
}





/*feature*/
.feature > span{
    display:flex;
    min-width:300px;
    gap:24px;
    align-items: center;
}
.feature p{
    margin:0;
}






/*our products*/
.our-products-wrapper{
    margin:104px 0 44px 0;/*outer padding*/
    text-align: center;
}
.our-products-wrapper .show-more{
    padding:12px 82px;
    background: var(--white);
    border: 1px solid var(--primary);
    box-sizing: border-box;
    transition:300ms;
}
.our-products-wrapper .show-more:hover{
    box-shadow: 5px 5px 5px rgba(232,159,113,0.5);
}
.our-products{
    text-align:start;
    display:grid;
    grid-template-columns: repeat(auto-fill,285px);
    gap:32px;
}
.our-products .product{
    transition:300ms;
    position: relative;
    margin:32px 0;/*outer padding*/
    width: 285px;
    padding-bottom:30px;
    background:var(--lightBG);
}
.our-products .product > div{
    padding:16px 16px 0 16px;
}
.our-products .product .label{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background:var(--Green-Accents);
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 24px 24px 0 0;
    position: absolute;
    top:0;
    right:0;
}
.our-products .product .discount{
    background:var(--Red-Accents) !important;
}
.our-products .mouse-over-button{
    position: absolute;
    transition:200ms;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:none;
}
.our-products .mouse-over-button >:not(.background){
    text-align:center;
    margin:auto;
    z-index:100;
}
.our-products .mouse-over-button .background{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background: #3A3A3A;
    opacity: 0.72;
}
.our-products .mouse-over-button > div > a{
    padding:12px 59px;
    background:var(--white);
}
.our-products .mouse-over-button span{
    gap:11px;
    display:flex;
}





/*inspirations*/
.inspirations-background{
    background: #FCF8F3;
    
}
.inspirations-wrapper{
    max-width:1440px;
    width:100%;
    position: relative;
    margin:0 auto;
    padding:223px 0;
}
.inspirations h2{
    max-width:378px;
}
.inspirations p{
    max-width:368px;
    margin:8px 0 24px;
}
.inspirations a{
    padding:12px 40px;
    background: var(--primary);
    transition: 300ms;
}
.inspirations a:hover{
    box-shadow: 5px 5px 5px rgba(232,159,113,0.5);
}

.inspirations-slider-wrapper-absolute{/* position block */
    right:0;
    top:0;
    bottom:0;
    overflow: hidden;
    display:grid;
}
.inspirations-slider-wrapper{/* boundaries block */
    position: relative;
    max-width:900px;
    margin:auto 0;
    max-height: 582px;
    height: 100%;
}
/*insprrations - slider*/
.inspirations-slider-wrapper .slider{
    position: relative;
    z-index:100;
    right:0;
    transition:500ms;
    gap:24px;
}
.inspirations-slider-wrapper .slider img{
    transition: 300ms;
}
.inspirations-slider-wrapper .slide{
    width: 372px;
    height: 486px;
}

/*info-box*/
.inspirations-slider-wrapper .info-box{
    z-index: 1000;
    position: absolute;
    bottom:0;
    left:0;
    margin:0 0 24px 24px;
}
.inspirations-slider-wrapper .info-box > span{
    padding:32px;
    width:217px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(3px);
}
.inspirations-slider-wrapper .info-box > span span{
    width: 27px;
    height: 1px;
    background: var(--gray1);
    margin:0 8px 15px 8px;
}
.inspirations-slider-wrapper .info-box img{
    padding:18px 15px;
    background:var(--primary);
}
/*nav-slider*/
.inspirations-slider-wrapper .nav-slider{
    z-index: 1000;
    position: absolute;
    left:0;
    bottom:0;
    margin-bottom:30px;
    right:0;
    justify-content: center;
}
.inspirations-slider-wrapper .nav-slider span{
    transition: 100ms;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:100px;
    border:1px solid rgba(255,255,255,0);
    width: 27px;
    height: 27px;
}
.inspirations-slider-wrapper .nav-slider div{
    transition:100ms;
    width: 11px;
    height: 11px;
    background: var(--gray5);
    border-radius: 100px;
}
/*button-slider*/
.inspirations-slider-wrapper .button-slider{
    position: absolute;
    z-index: 1000;
    right:55px;
    top:0;
    bottom:0;
    margin:auto 0;
    cursor:pointer;
    border-radius:100px;
    background: #FFFFFF;
    height: 48px;
    width: 48px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);    
    display:flex;
}
.inspirations-slider-wrapper .button-slider img{
    margin:auto;
}








/*tips-trick*/
.tips-trick h2{
    margin:44px 0 32px 0;
}
.tips-trick .button-slider{
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    top:0;
}
.tips-trick .button-slider img:first-of-type{
    cursor:pointer;
    transform:translate(-40px,-55px);
    left:0;
    top:0;
    bottom:0;
    margin:auto 0;
    z-index: 100;
}
.tips-trick .button-slider img:last-of-type{
    cursor:pointer;
    transform:translate(40px,-55px);
    right:0;
    top:0;
    bottom:0;
    margin:auto 0;
    z-index: 100;
}
.tips-trick .slider{
    overflow: hidden;
    padding:15px;
}
.tips-trick .slide{
    transition: 500ms;
}
.tips-trick .slide img{
    width:391px;
}
.tips-trick .slide:hover{
    box-Shadow:0px 0px 30px rgba(97, 97, 97, 0.1)
}
.tips-trick .move-slider{
    display:flex;
    right:0;
    transition:300ms;
    gap:32px;
    justify-content: space-between;
    position: relative;
}
.tips-trick .slide h5{
    margin:16px 16px 8px 16px;
    max-width:340px;
}
.tips-trick .slide:first-of-type h5{
    max-width:250px;
}
.tips-trick .slide p{
    margin:0 16px 16px 16px;
}
.tips-trick .nav-slider{
    display:flex;
    gap:12px;
    margin:50px auto;
    justify-content: center;
}
.tips-trick .nav-slider span{
    width: 27px;
    height: 27px;
    opacity: 0.7;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius:100px;
    display:flex;
}
.tips-trick .nav-slider div{
    width: 11px;
    height: 11px;
    margin:auto;
    border-radius:100px;
    background: var(--gray5);
    box-sizing: border-box;
}






/*footer*/
footer{
    padding:50px 0;
    border-top:1px solid #D8D8D8;
}
footer > span{
    flex:1;
    min-width:250px;
    justify-content: space-between;
}
footer > span:first-of-type > p:first-of-type{
    margin:25px 0 16px 0;
}
footer > span:first-of-type div{
    margin-bottom:16px;
}
footer > span:first-of-type div > *{
    margin:auto 0;
}
footer > span:first-of-type div:first-of-type p{
    margin-left:2px;
}
footer ul{
    list-style: none;
    margin:0;
    padding:0;
}
footer li{
    line-height:2.5;
}
footer input{
    max-width:210px;
    width: 100%;
    height: 45px;
    padding:0 12px;
    background: var(--lightBG);
    border:none;
    outline:none;
}
footer button{
    width: 46px;
    height: 45px;
    background: var(--primary);
    border:none;
    outline:none;
    display: flex;
    align-items: center;
    justify-content: center;
}